---
export const prerender = false;
import { getCollection } from "astro:content";
import ArticleCard from "~/components/feeds/ArticleCard.astro";
import Layout from "~/layouts/Layout.astro";
import { ArticleStatus } from "~/types/article";

const filter = Astro.url.searchParams.get("filter");
const feeds = await getCollection("feed");

const articles = feeds
  .flatMap((feed) => feed.data.articles)
  .sort((a, b) => (a.publishedAt < b.publishedAt ? 1 : -1))
  .filter((article) => {
    if (filter === "today") {
      return article.publishedAt.toDateString() === new Date().toDateString();
    } else if (filter === "unread") {
      return article.status === ArticleStatus.UNREAD;
    } else {
      return true;
    }
  });
---

<Layout title="記事一覧">
  <main>
    <div class="articles-grid">
      {articles.map((article) => <ArticleCard article={article} />)}
    </div>
  </main>
</Layout>

<style>
  main {
    padding: var(--spacing-lg);

    h1 {
      margin-block-end: var(--spacing-xl);
      font-size: var(--font-size-2xl);
      font-weight: var(--font-weight-bold);
    }
  }

  .articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30ch), 1fr));
    gap: var(--spacing-xl);
  }
</style>
