---
import { base, site } from "astro:config/client";
import Head from "~/components/layouts/Head.astro";
import Side from "~/components/layouts/Side.astro";
import "~/styles/globals.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <Head title={title} site={site} base={base} />
  <body>
    <Side />
    <main>
      <slot />
    </main>
  </body>
</html>

<style></style>
