---
// experimentalなので警告が表示されています
import { base, site } from "astro:config/client";
import Head from "~/components/layouts/Head.astro";
import Side from "~/components/layouts/Side.astro";
import { $settings } from "~/store/settings";
import "~/styles/globals.css";

interface Props {
  title?: string;
}

const { title } = Astro.props;
const fontSize = $settings.get().appearance.fontSize;
const fontSizeValue =
  fontSize === "small" ? "14px" : fontSize === "medium" ? "16px" : "18px";
---

<!doctype html>
<html lang="ja">
  <Head title={title} site={site} base={base} />
  <body>
    <Side />
    <main>
      <slot />
    </main>
  </body>
</html>

<style define:vars={{ fontSizeValue }}>
  body {
    display: grid;
    grid-template-columns: 240px 1fr;
  }

  main {
    overflow-x: scroll;
  }

  main::-webkit-scrollbar {
    display: none;
  }

  html {
    font-size: var(--fontSizeValue);
  }
</style>
