---
import { base, site } from "astro:config/client";
import Head from "~/components/layouts/Head.astro";
import Side from "~/components/layouts/Side.astro";
import "~/styles/globals.css";
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <Head title={title} site={site} base={base} />
  <body>
    <Side />
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  body {
    display: grid;
    grid-template-columns: 240px 1fr;
    min-height: 100vh;
  }

  main {
    background-color: var(--color-content);
  }

  @media screen and (max-width: 768px) {
    body {
      grid-template-columns: 1fr;
    }
  }
</style>
