---
interface Props {
  checked?: boolean;
  name?: string;
}

const { checked = false, name } = Astro.props;
---

<label>
  <input class="toggle-switch" type="checkbox" checked={checked} name={name} />
</label>
