article {
  p {
    margin-bottom: 2em;
    font-size: var(--font-size-lg);
  }

  b {
    font-family: "Yasashisa Gothic", sans-serif;
    font-weight: 700;
  }

  table {
    width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  code {
    padding: 2px 5px;
    border-radius: 2px;
  }
  pre {
    padding: 1.5em;
    border-radius: 8px;
  }
  pre > code {
    all: unset;
  }
  blockquote {
    border-left: 4px solid var(--accent);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
  }
}
